/target
/.vscode
*.log
*.yaml

# Exclude internal markdown working docs except root README.md & multi-lang docs
*.md
!README.md
!docs/ca/**
!docs/en/**
!docs/es/**



# Track critical build and tooling configs
!Cargo.lock
!.pre-commit-config.yaml


